<h1>Courses</h1>
<p>Total Courses: <%= Course.public_count %></p>
<ul>
    <% @courses.each do |course| %>
        <li>
            <%= link_to course.title, course %>
        </li>
    <% end %>
</ul>

<%= link_to "New Course", new_course_path %>