<% unless review.archived? %>
    <p>
        <strong>Author:</strong>
        <%= review.commenter %>
    </p>
    <p>
        <strong>Review:</strong>
        <%= review.body %>
    </p>

    <p>
        <%= link_to "Destroy Review", [review.course, review], data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
        } %>
    </p>
<% end %>